{% extends "base.html" %}

{% block title %}
        Measurements
{% endblock %}

{% block page-scripts %}
        <script type="text/javascript" src="/static/scripts/custom.js"></script>
{% endblock %}

{% block page-css %}
        <link rel="stylesheet" type="text/css" href="/static/live.css" />
{% endblock %}

{% block content %}
    {% if measurements %}
        <div id="live_data">

            <table id="minimaltable" summary="Live measurements" border="1">
                <th scope="col">Location</th>
                <th scope="col">Node</th>
                <th scope="col">Lot status</th>
                <th scope="col">Raw reading</th>
                <th scope="col">Battery %</th>
                <th scope="col">Sequence no.</th>
                <th scope="col">Created</th>
                {% for measurement in measurements %}
                <tr>
                    <td>{{ measurement.node.cluster }}</td>
                    <td>{{ measurement.node }}</td>
                    <td>{{ measurement.isTaken }}</td>
                    <td>{{ measurement.raw_reading }}</td>
                    <td>{{ measurement.batt }}</td>
                    <td>{{ measurement.seq }}</td>
                    <td>{{ measurement.created }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <p>No measurements were found.</p>
    {% endif %}
{% endblock %}
